.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    height: 100px;
}

.nav-items > ul{
    display: flex;
    padding: 10px 10px;
    font-size: 20px;
}
.nav-items > ul >li {
    padding: 10px;
    list-style: none;
}

.search{
    padding: 10px;
}
.res-card{
    width: 288px;
    /* height: 324px; */
    height: 23rem;
    border: 1px solid gray;
    padding: 5px;
    float: left;
    margin: 5px;
}

.resLogo{
    width: 100%;
    height: 122px;
}

.search-btn{
    margin: 10px;
}